# Tkinter Library
import tkinter as tk
from tkinter import ttk, filedialog, Toplevel, messagebox

# Graphics TKinter Library
from PIL import Image, ImageTk
import matplotlib.ticker as ticker
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg

# Directory Library
import os
import glob
import zipfile
import io

# Data Processing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

# Summary Tables Libraries
from openpyxl import Workbook
from openpyxl.styles import Alignment, Border, Side

# Geographic Data Libraries
import geopandas as gpd
import contextily as ctx
from matplotlib.colors import Normalize
from matplotlib.ticker import FuncFormatter
from matplotlib.colors import ListedColormap
from matplotlib import cm
import matplotlib.offsetbox as offsetbox
from matplotlib.patches import Rectangle
import re

# File Dialog and Message Box
from tkinter import filedialog, messagebox as tk_messagebox

# PDF Generation Libraries
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import letter
from reportlab.pdfbase import pdfmetrics
from reportlab.pdfbase.ttfonts import TTFont
from reportlab.pdfgen.canvas import Canvas
import PyPDF2

# HDF5 Libraries
import h5py
import json
